.single-post-page .single-post-intro{
    border-radius: 20px;
    overflow: hidden;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 70px;
    padding-left: 10px;
    transition: background-color 300ms ease 0ms,background-image 300ms ease 0ms;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
    color: white;
    min-height: 30rem;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.single-post-page .single-post-intro .single-post-intro-container{
    margin: auto;
    width: 85%;
    text-transform: uppercase;
    font-size: 13px;
    color: #f48885;
    line-height: 1.1em;
    transition: color 300ms ease 0ms;
}
.single-post-page .single-post-intro .single-post-intro-container h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    font-family: "iCiel Brush Up";
}
.single-post-page .single-post-intro .single-post-intro-container a{
    color: #f48885;
}
/*Description*/
.single-post-page .sigle-post-description{
    max-width: 85%;
    margin: auto;
}
.single-post-page .single-post-content p{
    margin-bottom: 0px;
}
.single-post-page .single-post-content h2{
    line-height: 3rem;
}
.single-post-page img{
    max-width: 100%;
}
.single-post-content{
    margin-bottom: 1rem;
}
@media only screen and (max-width: 1250px) {
    .single-post-page .sigle-post-description{
        max-width: 95%;
    }
}

/*Sidebar*/
.about-sidebar h3{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0px;
    padding-left: 2rem;
}
.about-sidebar p {
    margin-bottom: 0.25rem;
}
.sidebar-text-first{
    margin-right: 10px;
    text-transform: lowercase;
    font-family: "iCiel Brush Up";
    color: black;
    max-width: max-content;
    font-size: 5rem;
}
.sidebar-text-second{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    max-width: max-content;
    background-color: #f48885;
}
.sidebar-avatar{
    width: 80%;
    margin-top: -10px;
    text-align: center;
    animation-duration: 200ms;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-sidebar{
    font-family: 'Montserrat', sans-serif;
    color: #5e5e5e;
    font-size: 1.1rem;
    padding-bottom: 3.5rem;
}
.about-sidebar b{
    font-weight: 600;
}
.single-post-sidebar .sidebar-social-container{
    width: 100%;
    margin: auto;
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 1480px) {
    .single-post-sidebar .sidebar-social-container{
        width: 85%;
    }
} 
.single-post-sidebar .sidebar-social-container .social-column{
    width: 100%;
    margin-top: 1rem;
}
.single-post-sidebar .read-more-sidebar{
    color: white;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #007bff;
    padding: 0.7em 2.3em;
    text-decoration: none;
}
.single-post-sidebar .read-more-sidebar:hover{
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}
.single-post-sidebar .lp-slideshow {
    margin-top: 3rem;
    position: relative;
}
.single-post-sidebar .lp-slideshow>.dot-container {
    top: auto;
    bottom: 0;
    margin-bottom: 0px;
}
@media only screen and (max-width: 920px) {
    .single-post-sidebar .read-more-sidebar{
        font-size: 13px;
    }
    .single-post-sidebar .lp-slideshow .container .read-more-btn{
        font-size: 13px;
    }
}
@media only screen and (max-width: 813px) {
    .single-post-sidebar .read-more-sidebar{
        font-size: 12px;
    }
    .single-post-sidebar .lp-slideshow .container .read-more-btn{
        font-size: 12px;
    }
}
@media only screen and (max-width: 767px) {
    .single-post-sidebar .read-more-sidebar{
        font-size: 15px;
    }
    .single-post-sidebar .lp-slideshow .container .read-more-btn{
        font-size: 15px;
    }
}

/*Like Button*/
.single-post-page .sigle-post-description .like-container{
    padding-left: 10px;
    margin-top: 3rem;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.single-post-page .sigle-post-description .like-container span{
    font-size: 15px;
}
.single-post-page .sigle-post-description .like-container .like-button{
    background-color: transparent;
    background-image: none;
    border: 0px;
    padding: 0px;
    margin-bottom: 0.2rem;
}
.single-post-page .sigle-post-description .like-container .like-button:focus{
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.single-post-page .sigle-post-description .like-container .like-button:active{
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.single-post-page .sigle-post-description .like-container .like-button i{
    font-size: 20px;
    color: black;
}
.single-post-page .sigle-post-description .like-container .like-button .like-icon{
    color: rgb(237, 73, 86);
    font-size: 20px;
}
.single-post-page .sigle-post-description .like-container .like-button-active{
    border: 1px solid #F20574;
    background-color: #F20574;
    color: white;
    font-size: 13px;
}

/*Comment Input*/
.textarea-emoji-control{
    display: none;
}
.single-post-page .user-comment-avatar{
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 50px;
    height: 50px;
}
.single-post-page .active-user-info{
    width: 11%;
}
@media only screen and (max-width: 995px){
    .single-post-page .active-user-info{
        width: 14%;
    }
}
@media only screen and (min-width: 1390px){
    .single-post-page .active-user-info{
        width: 8%;
    }
}
.single-post-page .active-user-info span{
    position: absolute;
    top: auto;
    bottom: auto;
    margin-top: 8px;
}
.comment-input .rich-text-comment{
    width: 100%;
    max-width: 92%;
}
.comment-input .rich-text-comment #emoji-palette #tab-toolbar{
    display: none;
}
.comment-input .rich-text-comment .ql-toolbar{
    z-index: 100;
    border: 0px;
    padding-top: 5px;
    position: relative;
    text-align: right;
    right: 0;
    align-content: end;
    width: 100%;
    max-width: 100%;
}
.comment-input .rich-text-comment .ql-toolbar svg{
    height: 26px;
}
.comment-input .rich-text-comment .ql-toolbar .ql-formats{
    margin-right: 0px;
}
.comment-input .rich-text-comment .ql-container{
    border-top: 1px solid #e1e5eb!important;
    border-radius: .25rem;
}
.send-container{
    padding-top: 20px;
    width: 100%;
    text-align: right;
    position: relative;
}
.send-container button{
    position: absolute;
    right: 3%;
    top: -20px;
}
.send-container button h4{
    color: #1d84ef;
}
.single-post-page .comment-content-container{
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 15px;
    color: #050505;
    max-width: 60%;
}
.single-post-page .comment-content-container .update-input-comment .ql-container {
    min-height: 75px;
}
.single-post-page .comment-content-container .update-input-comment .ql-container .ql-editor{
    padding-right: 40px;
}
.single-post-page .comment-content-container .send-container{
    padding-top: 0px;
}
.single-post-page .comment-content-container .send-container button{
    top: -27px;
}
.single-post-page .comment-content-container p{
    font-weight: 400;
    margin-bottom: 0;
    max-width: 100%;
    overflow-wrap: break-word;
}
.single-post-page .comment-images{
    width: 100%;
    max-width: 600px;
    padding: 10px;
}
.comment-container .edit-and-delete{
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
}
.comment-container .edit-and-delete button{
    padding: 0;
    color: #1d84ef;
    background: none;
    border: none;
    outline: none;
    margin-right: 1rem;
}