.login-form{
    margin: auto;
    max-width: 60%;
    box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 
    0 0.25rem 0.53125rem rgb(90 97 105 / 12%)!important;
    font-family: 'Montserrat', sans-serif!important;
}
.login-page .login-form-title{
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    min-width: 93.5%;
    margin: auto;
    border-bottom: 1px solid #cccccc;
}
.login-with-social{
    max-width: 100%;
}
.login-social-btn{
    padding: .5625rem 1rem;
    margin-bottom: 1rem;
    font-size: .75rem;
    line-height: 1.125;
    border-radius: .25rem;
    background-color: white;
    border: 1px solid #f48885;
    color: #f48885;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.login-social-btn:hover{
    background-color: #f48885;
    border: 1px solid white;
    color: white;
    width: 100%;
    transition-delay: 100ms;
}
.login-social-btn:focus{
    background-color: #f48885;
    border: 1px solid white;
    color: white;
    outline-style: none;
}
.login-social-btn:active{
    background-color: #f48885;
    border: 1px solid white;
    color: white;
    outline-style: none;
}
.login-social-btn i{
    padding-right: 3px;
    font-size: 13px;
}
.login-page .login-form-title h2{
    font-size: 2.3rem;
    color: #f48885;
}