/*Blog Intro*/
.blog-intro{
    background-blend-mode: overlay;
    margin-bottom: 40px;
    background-color: inherit;
    min-height: 311px;
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-image:  url(../photo/blog-intro.jpg), linear-gradient(1deg,#000000 0%,rgba(26,26,26,.4) 100%)!important;
}
.blog-intro-container{
    padding-top: 50px;
}
.blog-intro-container h1{
    font-size: 3.052rem;
    letter-spacing: -.0625rem;
    line-height: 4rem;
}
.blog-text-first{
    margin-right: 10px;
    text-transform: lowercase;
    font-family: "iCiel Brush Up";
    color: white;
    max-width: max-content;
    font-size: 7rem;
}
.blog-text-second{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    max-width: max-content;
    background-color: #f48885;
}
@media only screen and (min-width: 981px){
    .blog-intro {
        padding: 2% 0;
    }
}
.bottom-divinder{
    background-image:  url(../photo/image.svg);
    background-size: 100% 71px;
    bottom: 0;
    height: 111px;
    z-index: 1;
    transform: rotateY(180deg);
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
    width: 100%;
    left: 0;
    right: 0;
}
/*Favorite Blog*/
.blog-page .favorite-blog{
    max-width: 90%;
    margin: auto;
    font-family: 'Helvetica', sans-serif;
}
.blog-page .favorite-blog .popular-post-title{
    max-width: 100%;
    margin-bottom: 0;
    font-size: 20px;
    color: #5e5e5e;
    line-height: 1em;
    min-height: 1.5rem;
    max-height: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.blog-page .favorite-blog .card-body{
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
.blog-page .favorite-blog .card-body .popular-post-meta{
    font-size: 13px;
    color: #f48885;
    line-height: 1.2em;
    transition: color 300ms ease 0ms;
    font-style: italic;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    margin-top: .2rem;
}
.blog-page .favorite-blog .popular-post-title a{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: .1rem;
    text-overflow: ellipsis;
    font-weight: 600;
}
.blog-page .favorite-blog .popular-post-content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-top: .5rem;
    color: #666;
    font-size: 17px;
    line-height: 1.3em;
    font-weight: 500;
    font-family: 'Helvetica', sans-serif;
}
/*Blog Articles*/
.blog-page .blog-articles-container{
    max-width: 90%;
    margin: auto;
}
.blog-page .blog-articles .card-post__image{
    min-height: 14.3125rem;
}
.blog-page .blog-articles .card-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    min-height: 25px;
    margin-bottom: .40rem;
}
.blog-page .blog-articles .post-date{
    font-size: 15px;
    color: #f48885;
    line-height: 1.2em;
    transition: color 300ms ease 0ms;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}
.blog-page .blog-articles .card-body{
    padding-top: 0.8rem;
}
.blog-page .blog-articles .card-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-top: .50rem;
    margin-bottom: 2rem;
}
.blog-page .blog-articles .read-more-btn{
    color: #fff;
    border-color: 1px solid #007bff;
    background-color: #007bff;
    font-weight: 400;
    line-height: 1.125;
    border-radius: .25rem;
    transition: all 250ms;
    padding: .5625rem 1rem;
}
.blog-page .blog-articles .read-more-btn:hover{
    color: #f48885;
    background-color: white;
    border: 1px solid #f48885;
}
.blog-page .blog-articles .red-more-icon{
    vertical-align: middle;
    line-height: 0;
}
.pagination{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

/*Code Dropdown*/
.new-dropdown-menu {
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}

.new-dropdown-menu li {
    position: relative;
    text-decoration: none;
    background-color: #fff;
    height: auto;
    padding: .625rem;
    font-size: 15px;
    font-weight: 600;
    max-width: 80px;
    min-width: 80px;
    display: inline-block;
}
.new-dropdown-menu li a{
    max-width: 80px;
    overflow-wrap: break-word;
    color: rgb(94, 94, 94);
    text-decoration: none;
}

.new-dropdown-menu li li a {
    font-size: 12px;
}

.new-dropdown-menu li:hover {
    background: rgba(244, 136, 133, 0.8);
}
.new-dropdown-menu li:hover > a{
    color: white;
}
/*--- Sublist Styles ---*/
.new-dropdown-menu ul {
    position: absolute;
    display: none;
}

/*--- Hide Sub Sublists ---*/
.new-dropdown-menu li:hover ul ul {
    display: none;
}

/*--- Sublevel UL's display and position on hover ---*/
.new-dropdown-menu li:hover ul {
    display: block;
    top: 1.5rem;
    left: 4.8rem;
    right: auto;
    padding-left: 0;
    margin-left: 0;
}
.new-dropdown-menu li li:hover ul {
    margin-left: 0;/*This must be width of menu box*/
    display: block;
    top: 0;
    left: 4.8rem;
    right: auto;
    padding-left: 0;
    margin-left: 0;
    margin-right: auto;
}
nu-li {
    padding: 10px;
}

.dropdown-submenu {
    position: absolute;
    left: 0px;
    top: 0px;
}

/*Search Bar*/
.blog-page .blog-search-container{
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
}
.search-articles .input {
    z-index: 1;
}
.search-articles input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #e1e5eb;
    padding-left: 15px;
    outline: none;

}
.srchList {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
    margin-top: -7px;
}
.search-articles ul {
    list-style-type: decimal;
    color: white;
}

/*Blog Category*/
.category-description{
    font-family: 'Montserrat', sans-serif;
    color: #3b3a3a;
    font-size: 1.3rem;
    font-weight: 700;
    max-width: 60%;
    margin: auto;
    text-align: center;
}