.user-layout{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
/* .navigation{
    border-bottom: 1px solid #5e5e5e;
} */
.home-intro{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    background: url(./photo/1.jpg);
    min-height: calc(100vh - 160px);
    height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    background-position: 50% 60%;
}
.short-slogan{
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #5E5E5E;
}
.intro-title{
    font-size: 2rem;
}
.user-layout .navigation-item{
    margin-left: auto;
}
.user-layout .navigation-item .dropdown-menu{
    top: 35px;
    left: -5px;
    border-radius: 0px;
}
.user-layout .navigation-item .user-avatar{
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 45px;
    height: 45px;
}
.user-layout .navigation-item .user-loggedin-menu{
    padding: 0px;
    margin-top: .62rem;
}
.user-layout .navigation-item .user-loggedin-menu-avatar{
    padding: 0px;
}
.user-layout .navigation-item .dropdown-menu-avatar{
    top: 55px;
    left: -30px;
}
.user-layout .navigation-item a{
    font-size: 15px;
    font-weight: 600;
}
.user-layout .navigation-item  .blog-dropdown-container{
    display: block;
    position: absolute;
    top: 40px;
    left: -25px;
    list-style-type: none;
}
.user-layout .navigation-item  .blog-dropdown-container-child{
    display: block;
    position: absolute;
    top: 40px;
    left: 0px;
    list-style-type: none;
}
.user-layout .navigation-item .blog-dropdown{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 11%), 0 3px 10px rgb(0 0 0 / 5%), 0 2px 3px rgb(0 0 0 / 6%);
    padding: .625rem;
    font-size: .813rem;
}
.user-layout .home-logo-contain{
    padding: 0px;
    font-family: "iCiel Brush Up";
    font-size: 22px;
}
.home-logo{
    padding: 0px;
    max-width: 70px;
}
.user-layout .latest-title{
    font-family: "iCiel Brush Up";
    color: #f48885;
}
.user-layout .latest-post-description{
    color: #666;
    font-size: 17px;
    line-height: 1.3em;
    font-weight: 500;
    font-family: 'Helvetica', sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    min-height: 25px;
    margin-bottom: .40rem;
}
.user-layout .intro-about-btn{
    background-color: #fa5051;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-color: #fa5051;
    width: 40%;
}
.user-layout .intro-video-btn{
    background-color: #2c63d8;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-color: #2c63d8;
    width: 60%;
}
.user-layout .intro-btn-contain{
    max-width: 30%;
    width: 100%;
    display: inline-flex;
}

.triangle-down{
    box-sizing: content-box;
    width: 50%;
    height: 0;
    padding-left: 50%;
    padding-top: 5%;
    overflow: hidden;
}
.triangle-down div {
    width: 0;
    height: 0;
    margin-left: -1000px;
    margin-top: -100px;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 100px solid white;
}

/*Page Intro*/
.page-intro{
    background-blend-mode: overlay;
    margin-bottom: 40px;
    background-color: inherit;
    min-height: 311px;
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-image:  url(./photo/my-camera.jpg), linear-gradient(1deg,#000000 0%,rgba(26,26,26,.4) 100%);
}
.page-intro-container{
    padding-top: 50px;
}
.page-intro-container h1{
    font-size: 3.052rem;
    letter-spacing: -.0625rem;
    line-height: 4rem;
}
.page-text-first{
    margin-right: 10px;
    text-transform: lowercase;
    font-family: "iCiel Brush Up";
    color: white;
    max-width: max-content;
    font-size: 7rem;
}
.page-text-second{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    max-width: max-content;
    background-color: #f48885;
}
@media only screen and (min-width: 981px){
    .page-intro {
        padding: 2% 0;
    }
}
.intro-bottom-divinder{
    background-image:  url(./photo/image.svg);
    background-size: 100% 71px;
    top: 331px;
    height: 100px;
    z-index: 1;
    transform: rotateY(180deg);
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
    width: 100%;
    left: 0;
    right: 0;
}
/* @media only screen and (max-width: 780px) {
    .intro-bottom-divinder{
        top: auto;
        margin-top: 29px;
    }
} */
/*Page Intro*/

/*Latest Post*/
.latest-post-title{
    max-width: 245px;
}
.latest-post-title a{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-bottom: 3px;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1010px) {
    .home-page .video-responsive{
        height: 85%;
    }
}
/*Latest Post*/

/*Our Destination*/
.user-layout .our-desination{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(
-45deg, #F0F8FF, #EDF5FC, #E1E9F0, #E1F0EF); 
    overflow: hidden;
    background-size: 400% 400%;
    animation: gradient-bg 15s ease infinite;
    box-sizing: border-box;
}
@keyframes gradient-bg{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.our-desination::before{
    content: "";
    display: table;
}
.our-desination::after{
    content: "";
    display: table;
    clear: both;
}
.wave.water {
    animation: animate 25s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.wave.water:nth-child(2){
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.wave.water:nth-child(3) {
    animation: animate 30s cubic-bezier(.55, .5,.45,.5) infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 15px;
}
.wave.water:nth-child(4) {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./photo/wave3.png);
    background-size: 1000px 100px;
}

@keyframes animate{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
/*Our Destination*/

.map-container{
    max-width: 60%;
    width: 60%;
    margin: auto;
}
.our-desination h3{
    font-family: 'iCiel Brush Up';
    font-weight: 500;
    color: black;
}
.destination-title{
    font-family: 'iCiel Brush Up';
    font-size: 4rem;
    margin-top: 1.5rem;
}

/*Popular Articles*/
.popular-post-contain{
    max-width: 1920px;
    width: 80%;
    position: relative;
}
.popular-articles{
    background-color: rgba(0,0,0,.05);
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 70px;
    padding-left: 10px;
    transition: background-color 300ms ease 0ms,background-image 300ms ease 0ms;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    letter-spacing: 3px;
    line-height: .5em;
    font-size: 11px;
    color: white;
}
.popular-content{
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: table;
    width: 100%;
    word-wrap: break-word;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: 0 0;
}
.popular-content .popular-title{
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0.08em 0.08em 0 rgb(0 0 0 / 40%);
}
.popular-content .popular-description{
    text-align: center;
    text-shadow: 0.08em 0.08em 0 rgb(0 0 0 / 40%);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.popular-content .popular-description p{
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff!important;
    letter-spacing: 3px;
    line-height: .5em;
    font-weight: 500;
}
/*Popular Articles*/

/*Popular Categories*/
.popular-categories{
    margin-right: auto;
    display: block;
    line-height: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    max-width: 100%;
    max-height: 270px;
    min-height: 270px;
}
.popular-categories p{
    position: absolute;
    z-index: 100;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2rem;
    margin-bottom: 0px;
    font-family: 'Helvetica', sans-serif;
}
.popular-categories-contain{
    border-radius: 15px;
    border: 1px solid transparent;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.categories-content{
    border-radius: 0px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 270x;
    min-height: 270px;
}
.categories-content img{
    position: relative;
    max-width: 100%;
    max-height: 270px;
    min-height: 270px;
    object-fit: cover;
}
.popular-categories-contain{
    max-width: 80%;
    margin: auto;
}
.overlay { 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 90;
    min-height: 15px;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    box-shadow: 0 0 5px 17px black;
}
/*Home Social Network*/
.separate-line{
    width: 81%;
}
.social-network-contain{
    width: 80%;
}
.social-title{
    width: 28%;
}
.social-column{
    width: 18%;
}
.social-network-contain h4{
    line-height: 4.25rem;
    margin: 0.5rem;
    color: #5e5e5e;
    font-weight: 700;
    font-size: 1.863rem;
    text-align: left;
}
.social-network-contain img{
    width: 5rem;
}
@media only screen and (max-width: 1450px) {
    .social-network-contain{
        width: 70%;
    }
    .social-network-contain h4{
        font-size: 1.463rem;
    }
}
@media only screen and (max-width: 1305px) {
    .social-network-contain{
        width: 75%;
    }
}
@media only screen and (max-width: 1121px) {
    .social-network-contain{
        width: 85%;
    }
}
@media only screen and (max-width: 1010px) {
    .social-network-contain h4{
        line-height: 2.25rem;
        font-weight: 700;
        font-size: 1.363rem;
        text-align: center;
    }
    .social-network-contain img{
        width: 3.5rem;
    }
}
@media only screen and (max-width: 932px) {
    .social-network-contain h4{
        font-weight: 700;
        font-size: 1.163rem;
    }
}
@media only screen and (max-width: 799px) {
    .social-network-contain h4{
        font-weight: 700;
        font-size: 0.963rem;
    }
}
@media only screen and (max-width: 664px) {
    .social-network-contain h4{
        font-weight: 700;
        font-size: 0.763rem;
    }
    .social-network-contain img{
        width: 3rem;
    }
}

/*Popup*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 3000;
}
.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: auto;
    margin: auto;
    background: white;
    color: rgba(0,0,0,.87);
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}
.delete-selection{
    display: flex;
    justify-content: center;
}
.delete-yes{
    width: 40%;
    margin-right: .5rem;
}
.popup_inner .delete-no{
    background-color: #ff0000;
    border-color: #ff0000;
    width: 40%;
}
.popup_inner .delete-no:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}
.popup_inner .delete-no:active{
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}

/*Footer*/
.footer{
    background-color: #f8f8f8;
    width: 100%;
    padding: 20px;
}
form{
    font-family: 'Montserrat', sans-serif;
}
.footer form .form-group label{
    font-family: 'Montserrat', sans-serif;
}
.footer form .form-group input{
    font-family: 'Montserrat', sans-serif;
}
.footer form .btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.footer h2{
    margin-bottom: 0px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}
.lets-connect p{
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}
.connect-social-network{
    padding-top: 10px;
}
.connect-social-network i{
    font-size: 30px;
    color: #fa5051;
    padding-right: 13px;
}