/*Portfolio Description*/
.portfolio-description{
    padding-bottom: 25px;
}
.portfolio-description h1{
    font-style: italic;
    color: #fa5051;
    font-family: "iCiel Brush Up";
}
.portfolio-description p{
    font-family: 'Montserrat', sans-serif;
    color: #3b3a3a;
    font-size: 1.3rem;
    font-weight: 700;
    max-width: 60%;
    margin: auto;
}
@media only screen and (max-width: 981px){
    .portfolio-description p {
        max-width: 80%;
    }
}
/*Working Skills*/
.portfolio-page .working-skill-container{
    max-width: 80%;
    margin: auto;
}
.working-type{
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    min-height: 280px;
}
.working-type span{
    color: white;
    font-size: 4rem;
    font-weight: 400;
}
.skills{
    position: absolute;
    bottom: 15px;
}
.working-type h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    max-width: 100%;
    font-weight: 600;
}
.working-type a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 15px;
}
.working-type a:hover{
    text-decoration: none;
    color: white;
}
.working-type a span{
    color: white;
    font-size: 23px;
    position: absolute;
    right: 0;
    left: 122px;
    top: auto;
    bottom: -1%;
}
@media only screen and (max-width: 1460px){
    .portfolio-description p {
        max-width: 80%;
    }
    .portfolio-page .working-skill-container{
        max-width: 99%;
    }
}
/*Team*/
.team-title{
    color: #f48885;
    font-family: "iCiel Brush Up";
    font-size: 4rem;
}
.team-avatar{
    border-radius: 25px;
    width: 15rem;
    height: 22rem;
}
.team-members-container{
    max-width: 80%;
    margin: auto;
}
.team-members-container .team-members h2{
    font-family: "iCiel Brush Up";
    font-weight: 500;
    margin-bottom: .55rem;
}
.team-members-container .team-members i{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.gallery{
    max-width: 80%;
    margin: auto;
    position: relative;
}
.my-overlay{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, .2);
    z-index: 200;
}
/*Video*/
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.portfolio-video-container{
    max-width: 80%;
    margin: auto;
}