.lp-slideshow,
.lp-slideshow * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.lp-slideshow {
  width: 100%;
  min-height: 350px;
}

.lp-slideshow>.container {
  position: relative;
  margin: auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 12px;
  overflow: hidden;
  min-height: 355px;
}
@media only screen and (min-width: 787px){
  .lp-slideshow {
    height: 100%;
  }
  .lp-slideshow>.container{
    height: 89%!important;
  }
}

.lp-slideshow>.container>.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  opacity: 0;
  transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
}

.lp-slideshow>.container>.slide.active {
  opacity: 1;
  z-index: 50;
}

.lp-slideshow>.container>.slide>.image {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.lp-slideshow>.container>.slide>.number-text {
  color: #fff;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.lp-slideshow>.container>.slide>.caption-text {
  color: #fff;
  font-size: 1.3rem;
  padding: 20px 50px 0px 50px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  height: 60%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.lp-slideshow>.container>.slide>.caption-text div{
  margin: auto;
}
.lp-slideshow .container .slide .caption-text h2{
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(90%);
  margin: auto;
  color: white;
  line-height: 2.4rem;
}
.lp-slideshow .container .slide .caption-text h2 a{
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #f48885;
  font-family: 'Helvetica', sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-top: .50rem;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.lp-slideshow>.container>.slide>.caption-text>p{
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  font-size: 17.5px;
  line-height: 1.5em;
  margin-bottom: 0.7rem;
  margin-top: 0.3rem;
  opacity: .9;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-bottom: 3px;
  text-overflow: ellipsis;
}
.lp-slideshow .container .read-more-btn{
  color: white;
  border-color: #007bff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #007bff;
  padding: 0.7em 2.3em;
  border: 0px;
}

.lp-slideshow>.container>.prev,
.lp-slideshow>.container>.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: bold;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  z-index: 100;
}

.lp-slideshow:hover>.container>.prev,
.lp-slideshow:hover>.container>.next {
  background-color: rgba(0, 0, 0, 0.2);
}

.lp-slideshow:hover>.container>.prev:hover,
.lp-slideshow:hover>.container>.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.lp-slideshow>.container>.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.lp-slideshow>.container>.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.lp-slideshow>.dot-container {
  text-align: center;
  margin: 1rem auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 50px;
  z-index: 100;
}
@media only screen and (max-width: 787px){
  .lp-slideshow>.dot-container{
    margin-bottom: 20px;
    z-index: 100;
  }
}
.lp-slideshow>.dot-container>.dot {
  width: 7px;
  height: 7px;
  margin: 0 0.4rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  opacity: .5;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  z-index: 100;
}

.lp-slideshow>.dot-container>.dot.active
.lp-slideshow>.dot-container>.dot:hover {
  background-color: #fff;
  opacity: 1;
}

.lp-slideshow>.dot-container>.dot:not(.active):hover {
  cursor: pointer;
}
